/************
ALERT STYLES
************/

.alert {
  padding: 2rem;
  border: 2px solid;
  border-radius: 6px;

  .alert-title {
    font-weight: 700;
  }

  &.alert-success {
    border-color: $success;
    background-color: rgba($success, 0.04);

    .alert-title {
      color: $success;
    }
  }

  &.alert-danger {
    border-color: $danger;
    background-color: rgba($danger, 0.04);

    .alert-title {
      color: $danger;
    }
  }
}
