/************
BUTTON STYLES
************/

button {
  border: none;
  background: none;
}

.btn {
  position: relative;
  z-index: 1;
  border-radius: 6px;
  border: none;
  font-family: $title-font;
  font-weight: 900;
  font-size: 16px;
  padding: .75rem 1.5rem;
  transition: all 0.5s;

  &.btn-sm {
    padding: .35rem 1rem;
    font-size: 14px;
  }

  &:not(.btn-outline) {
    box-shadow: inset 0px 0px 0px 0px $yellow;
    color: #fff;
    background-color: $black;

    &.btn-white {
      color: $black;
      background-color: #fff;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 200px $yellow;
    }
  }

  &.btn-outline {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px $black;
    color: $black;

    &.btn-white {
      box-shadow: inset 0px 0px 0px 2px #fff;
      color: #fff;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 100px $yellow;
      color: $black;
    }
  }
}

.btn-link {
  display: inline-block;
  color: $black;
  font-family: $title-font;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid $black;
  transition: all 0.4s;

  &:hover {
    border-bottom-color: $yellow;
    color: $black;
  }
}

.back-link {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:before {
    font-family: 'Material Icons';
    font-size: 20px;
    content: '\e5e0';
    margin-right: 0.25rem;
    transition: 0.3s;
  }

  &:hover:before {
    color: $yellow;
    margin-right: 0rem;
  }
}

.btn-list {
  .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.btn {
  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    background-color: $black;
    color: #fff;
  }

  .btn-check + & {
    @media #{$phone-ls} {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
