/************
FORM STYLES
************/

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $black;
  font-family: $title-font;
  font-weight: 700;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;

  @media #{$phone-ls} {
    font-size: 16px;
  }

  transition: all 0.3s;

  &:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom-color: $yellow !important;

    + label {
      color: $yellow !important;
    }

    &.is-invalid {
      box-shadow: none;
      border-color: $danger !important;
    }
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba($black, 0.4); 
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba($black, 0.4);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba($black, 0.4);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba($black, 0.4);
  }
}

.form-select {
  border: 2px solid;
  font-size: 20px;
  position: relative;
  left: -0.75rem;
  width: calc(100% + 1.5rem);
  -webkit-appearance: none;

  @media #{$phone-ls} {
    font-size: 16px;
  }

  &:focus {

  }
}

textarea.form-control {
  height: 100px;
}

label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0.25rem;
  transition: 0.3s;
}

[data-freeform] {
  label:not(.required):after {
    content: ' (optional)';
  }
}

// Form errors

ul.errors {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  list-style: none;

  @media #{$phone-ls-up} {
    float: right;
  }

  li {
    margin: 0.5rem 0;
    font-size: 10px;
    font-weight: 700;
    color: $danger;
  }
}

.was-validated .form-control:invalid, 
.form-control.is-invalid {
  background-position: right center;
}
