/************
FORM STYLES
************/

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $black;
  font-family: $title-font;
  font-weight: 700;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;

  @media #{$phone-ls} {
    font-size: 16px;
  }

  transition: all 0.3s;

  &:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom-color: $yellow !important;

    + label {
      color: $yellow !important;
    }

    &.is-invalid {
      box-shadow: none;
      border-color: $danger !important;
    }
  }

  &::file-selector-button {
    float: right;
    margin-right: 0;
    margin-bottom: 5px;
    border: 2px solid #1a1a1a;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fff;
    transition: 0.3s;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $yellow;
    border-color: $yellow;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba($black, 0.4); 
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba($black, 0.4);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba($black, 0.4);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba($black, 0.4);
  }
}

.form-select {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  background-position: right center;
  background-size: 18px 18px;
  font-size: 20px;
  position: relative;
  -webkit-appearance: none;

  @media #{$phone-ls} {
    font-size: 16px;
  }

  &:focus {

  }
}

textarea.form-control {
  height: 100px;
}

label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0.25rem;
  transition: 0.3s;
  
  &.form-check-label {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  &.large {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
}

[data-freeform] {
  label:not(.required):not(.form-check-label):not(.group-label) {
    &:after {
      content: ' (optional)';
    }
  }
}

[class^='ff-fieldtype-'], 
[class*=' ff-fieldtype-']{
  position: relative;

  .tooltip-icon {
    position: absolute;
    top: 10px;
    left: -10px;
  }
}

.form-check {
  .form-check-input {
    width: 24px;
    height: 24px;
    border: 2px solid $black;
    background-color: transparent;
    margin-right: 0.75rem;

    &:checked[type="radio"] {
      background-color: #1a1a1a;
      background-image: none;
      box-shadow: inset 0 0 0 4px #fff;
    }

    &:checked[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%231a1a1a' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
  }
}

button[type="submit"] {
  width: 100%;
}

// Briefing form container exceptions

.form-container {
  padding: 3rem;

  @media #{$phone-ls-up} {
    padding: 5rem;
  }

  @media #{$bs-large-up} {
    padding: 6rem 12rem;
  }

  hr {
    position: relative;
    margin: 3vw 0;
    width: calc(100% + 6rem);
    left: -3rem;

    @media #{$phone-ls-up} {
      width: calc(100% + 10rem);
      left: -5rem;
    }

    @media #{$bs-large-up} {
      width: calc(100% + 24rem);
      left: -12rem;
    }    
  }
}

// Form errors

ul.errors {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  list-style: none;

  @media #{$phone-ls-up} {
    float: right;
  }

  li {
    margin: 0.5rem 0;
    font-size: 10px;
    font-weight: 700;
    color: $danger;
  }
}

.was-validated .form-control:invalid, 
.form-control.is-invalid {
  background-position: right center;
}
