/************
HERO STYLES
************/

.hero {
  z-index: 1;
  min-height: 75vh;

  @media #{$phone-ls} {
    min-height: 50vh;
    padding-top: 90px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
  }

  * {
    color: #fff;
  }

  background-color: $black;

  .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.full,
  .home & {
    display: flex;
  }

  &.full {
    min-height: 100vh;
  }

  @media #{$phone-ls-up} {
    .home & {
      min-height: 100vh;
    }
  }
}