/************
MISCELLANEOUS STYLES
************/

video.background-video {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.opacity-0 {
  opacity: 0;
  transition: opacity 0.3s;
}
.opacity-1 {
  opacity: 1 !important;
  transition: opacity 0.3s;
}

.scroll-prompt {
  width: 24px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;

  .scroller {
    position: relative;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes scroll {
  0% { opacity: 0; }
  25% { transform: translateY(-2px); opacity: 1; }
  30% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(14px); opacity: 1; }
  60% { opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

hr {
  margin: 1.5rem 0;
  opacity: 1;
  border-width: 2px;
  border-color: $black;

  &.light {
    border-color: #fff;
  }
}

hr.small {
  margin: 1.5rem 0;
  opacity: 1;
  width: 80px;
  border-width: 2px;
}

.text-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(26,26,26);
    background: linear-gradient(0deg, rgba(26,26,26,0.5) 0%, rgba(26,26,26,0) 50%, rgba(26,26,26,0) 100%); 
  }
}

/* Lightswitch */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    &:after {
      content:'OFF';
      color: $black;
      display: block;
      position: absolute;
      transform: translate(0%, -50%);
      top: 50%;
      left: 50%;
      font-size: 16px;
      font-family: $body-font;
      font-weight: 700;
      transition: 0.4s;
      }
  }

  input:checked + .slider {
    background-color: $black;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }

  input:checked + .slider:after {  
    content:'ON';
    color: #fff;
    transform: translate(-100%, -50%);
  }
}

// Show/hide adjacent partner text links

.toggle-partner {
  font-family: $title-font;
  font-size: 61px;
  font-weight: 500;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &.active {
    opacity: 1;
    font-weight: 700;
  }

  @media #{$tablet-ls} {
    font-size: 16px;
    font-weight: 600;

    &.active {
      font-weight: 900;
      border-bottom: 2px solid $yellow;
    }
  }
}

// Expand/collapse

.hidden-el-toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media #{$extra-small} {
    &:not(.hidden-mob) {
      display: block;
    }
  }

  cursor: pointer;

  &:after {
    content: 'Read more';
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid $black;
    transition: 0.3s;
  }

  &:hover:after {
    border-bottom-color: $yellow;
  }

  &.hidden-opened:after{
    content: 'Close';
  }

  .hidden-el-toggle-title {
    margin-bottom: 0;
  }
}
.hidden-el-close {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom-color: $yellow;
  }
}

.hidden-mob {
  &.hidden-el-toggle {
    margin-bottom: 1rem;
    
    @media #{$phone-ls-up} {
      cursor: auto;

      &:after {
        display: none;
      }
    }

    &:after {
      font-family: 'Material Icons';
      content: '\e5cf';
      border: none;
      font-size: 30px;
      font-weight: normal;
      transition: 0.3s;
    }

    &.hidden-opened:after {
      transform: rotate(180deg);
    }

    .hidden-el-toggle-title {
      margin-bottom: 0rem;
    }
  }

  &.hidden-el {
    @media #{$phone-ls-up} {
      display: block !important;
    }
  }
}

// Tooltips

.tooltip-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.custom-tooltip {
  text-align: left !important;
  font-size: 14px;
}

// Modal styles

.modal-backdrop {
  opacity: 0.7 !important;
}

// Announcement bar

#announcement-bar {
  display: none;
}

// Confetti animation
#confetti {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

// Play button 

.play-button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;  
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #fff;
  margin-top: 0;
  margin-left: 0;
  transform: translate(-50%, -50%);
  font-size: inherit;
  transition: all 0.3s;

  &:before {
    position: static;
    font-family: "Material Icons Outlined";
    content: '\e037';
    color: #fff;
    font-size: 30px;
    transition: all 0.3s;
  }
  
  &.active:before {
    content: '\e034';
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: $yellow;
    transition: all 0.3s;

    &:before {
      color: $yellow;
    }
  }
}

// Accordions

.accordion-item {
  .accordion-button {
    font-weight: inherit;
    text-align: left;

    @media #{$small-up} {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    
    width: 100%;
    
    &:after {
      flex-shrink: 0;
      font-family: $title-font;
      font-size: 16px;
      font-weight: 800;
      content: 'Read More';
      padding-left: 0.5rem;

      @media #{$small} {
        font-size: 14px;
        display: block;
        padding-left: 0;
      }
    }

    &:not(.collapsed) {
      &:after {
        content: 'Close';
      }
    }
  }
}

// Cookie consent bar 
.cc-revoke,
.cc-window {
  font-family: $body-font !important;
  font-size: 14px !important;
}

.cc-btn {
  border-radius: 6px !important;
  font-family: $title-font !important;
  transition: 0.3s !important;

  &:hover {
    background-color: #fff !important;
    text-decoration: none !important;
  }

  &.cc-deny:hover {
    color: $black !important;
  }
}

// Weekend mode button

#wm-button-fixed {
  position: fixed;
  z-index: 1000;
  top: 1rem;
  background: #fff;
  padding: 4px 10px 8px 20px;
  border-radius: 60px;
}

// Sprig loader
#indicator {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  pointer-events: none;
}

/* Craft CMS Styles */

body.ltr .matrixblock > .titlebar > .preview {
  display: none;
}

// Shadows for mobile version

@media #{$small} {
  .mob-shadow-none {
    box-shadow: none !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    //border-top: 2px solid #dddddd;
  }
}