/************
THUMBNAIL STYLES
************/

.work-item {
  position: relative;
  flex-basis: 100%;

  .text-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: -1;
      background: rgb(26,26,26);
      background: linear-gradient(0deg, rgba(26,26,26,0.5032213569021359) 0%, rgba(26,26,26,0) 100%); 
      opacity: 0;
      transition: all 0.5s;
    }

    .thumb-subtitle {
      opacity: 0;
      transition: all 0.5s;
    }
  }

  &:hover {
    .text-container:after {
      opacity: 1;
    }

    .thumb-subtitle {
      opacity: 1;
      margin-bottom: 0 !important;
    }
  }
}

@media all and (min-width: 2000px) {
  section > .work-item {
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.thumb-container {
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  position: relative;

  video,
  iframe,
  img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  video,
  iframe {
    z-index: 2;
  }

  img {
    object-fit: cover;
    z-index: 1;
  }
}
