{% set title = entry.seoTitle ?? entry.title %}
{% set description = entry.seoDescription %}
{% set pageOgImage = entry.ogImage.one() %}
{% set globalOgImage = siteInfo.ogImage.one() %}
{% set heroImage = entry.heroImage.one() ?? null %}
{% set locale = craft.app.locale %}
{% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}
<title>{% if title|length %}{{ title }}{% else %}{{ entry.title }}{% endif %} - {{ siteInfo.companyName }}</title>
<meta name="description" content="{{ description }}" />
<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
{% if globalOgImage|length or pageOgImage|length or heroImage|length %}
{% if pageOgImage|length %}
<meta property="og:image" content="{{ pageOgImage.url('ogImage') }}" />
{% elseif heroImage|length %}
<meta property="og:image" content="{{ heroImage.url('ogImage') }}" />
{% elseif globalOgImage|length %}
<meta property="og:image" content="{{ globalOgImage.url('ogImage')}}" />
{% endif %}
{% endif %}
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="{{ siteInfo.companyName ?: title }}" />
<meta property="og:locale" content="{{ locale }}" />
{% for locale in locales -%}
<meta property="og:locale:alternate" content="{{ locale }}" />
{% endfor %}
<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
{% if globalOgImage|length or pageOgImage|length or heroImage|length %}
{% if pageOgImage|length %}
<meta name="twitter:image" content="{{ pageOgImage.url('ogImage') }}" />
{% elseif heroImage|length %}
<meta name="twitter:image" content="{{ heroImage.url('ogImage') }}" />
{% elseif globalOgImage|length %}
<meta name="twitter:image" content="{{ globalOgImage.url('ogImage') }}" />
{% endif %}
{% endif %}
<link rel="home" href="{{ siteUrl }}" />
<link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
