{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set headerColour = entry.headerColour %}
{% set bodyClass = headerColour %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}

{% block main %}
{% set heroImage = entry.heroImage.one() ?? entry.imageThumbnail.one() %}
{% set heroVideo = entry.heroVideo.one() %}
<section>
  {% if heroImage and not heroVideo %}
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ heroImage.url('thumb1920X1080') }}">
    <source media="(min-width: 960px)" srcset="{{ heroImage.url('thumb1280X720') }}">
    <source media="(min-width: 768px)" srcset="{{ heroImage.url('thumb960X540') }}">
    <source media="(min-width: 512px)" srcset="{{ heroImage.url('thumb768X432') }}">
    <source media="(min-width: 480px)" srcset="{{ heroImage.url('thumb512X288') }}">
    <source media="(min-width: 0px)" srcset="{{ heroImage.url('thumb480X480') }}">
    <img class="w-100 background-image{% if entry.greyscaleImage %} greyscale{% endif %}" src="{{ heroImage.url('thumb1920X1080') }}" alt="{{ entry.title }}">
  </picture> 

  {% elseif heroVideo %}
  <div class="hero-video-container">
    <video class="w-100" style="display: block;" preload="false" playsinline autoplay loop muted {% if heroImage %}poster="{{ heroImage.url('thumb1280X720') }}{% endif %}">
      <source src="{{ heroVideo.url }}" type="video/mp4">
    </video>
  </div>
  {% endif %}
</section>

<section>
  <div class="section-container max-width pt-sm-5 pb-0 d-flex justify-content-between align-items-center flex-wrap">
    <a class="back-link me-1 my-half" href="{{ siteUrl }}newsroom">Back</a>

    <ul class="crumbs my-half">
      <li><a href="{{ siteUrl }}newsroom">Newsroom</a></li>
      <li>{{ entry.title }}</li>
    </ul>
  </div><!-- end section-container -->

  <section class="post-block light">
    <div class="section-container max-width">
      <h1>{{ entry.title }}</h1>
      
      <div class="row">
        <div class="col-lg-10 col-xl-8">
          <h3 class="tw-medium">{{ entry.subtitle }}</h3>
        </div><!-- end col --> 
      </div><!-- end row -->
    </div><!-- end section-container -->
  </section>

  {% include "_includes/content_blocks" %}
</section>
{% endblock %}

{% block javascript %}

<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<script>
$(document).ready(function() {
  $('.work-item').each(function(){
    var subtitle = $(this).find('.thumb-subtitle');
    subtitleHeight = subtitle.outerHeight() + 'px';
    subtitle.css('margin-bottom', '-' + subtitleHeight);
  });
});
</script>
{% endblock %}
