{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = 'black-no-overlay' %}

{% block headContent %}
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}

{% block main %}
<section>
  <div class="section-container max-width py-6">
    <div class="shadow px-12 py-6">
      <h1 class="text-center mb-4">{{ entry.title }}</h1>

      {% if entry.roleInformation %}
      <div class="py-5">
        <div class="row">
          <div class="col-6">
            {% for detail in entry.roleInformation %}
              <div class="row gy-2">
                {% if detail.position %}
                <div class="col-6">
                  <p class="title-font tw-bold">Position:</p>
                </div>
                <div class="col-6">
                  <p class="title-font">{{ detail.position }}</p>
                </div>
                {% endif %}

                {% if detail.location %}
                <div class="col-6">
                  <p class="title-font tw-bold">Location:</p>
                </div>
                <div class="col-6">
                  <p class="title-font">{{ detail.location }}</p>
                </div>
                {% endif %}

                {% if detail.salary %}
                <div class="col-6">
                  <p class="title-font tw-bold">Salary:</p>
                </div>
                <div class="col-6">
                  <p class="title-font">{{ detail.salary }}</p>
                </div>
                {% endif %}
              </div>
            {% endfor %}
          </div><!-- end col -->

          <div class="col-6">
            {% for detail in entry.roleInformation %}
              {% if detail.employmentType %}
              <div class="row mb-2">
                <div class="col-6">
                  <p class="title-font tw-bold">Employment:</p>
                </div>
                <div class="col-6">
                  <p class="title-font">{{ detail.employmentType }}, {{ detail.employmentHours }} </p>
                </div>
              </div>  
              {% endif %}
            {% endfor %}

            <div class="row gy-2">
              <div class="col-6">
                <p class="title-font tw-bold">Date posted:</p>
              </div>

              <div class="col-6">
                <p class="title-font">{{ entry.dateCreated|date("d/m/y") }}</p>
              </div>  

              <div class="col-6">
                <p class="title-font tw-bold">Closing date:</p>
              </div>
              
              <div class="col-6">
                <p class="title-font">{{ entry.closingDate|datetime("d/m/y, g:ia") }}</p>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div>
      {% endif %}

      {% include "_includes/career_content_blocks" %}

      <div class="py-5 border-top border-2 border-dark">
        {% if entry.closingDate > now %}
          <div class="d-flex align-items-center flex-wrap">
            <p class="my-1 me-1"><strong>Interested in this role?</strong></p>
            <a class="my-1 btn btn-outline" href="{{ siteUrl }}careers/{{ entry.slug }}/application">Apply now</a>
          </div>
        
        {% else %}
        <p><strong>This role has now closed.</strong> Keep an eye on our <a href="{{ siteUrl }}careers">careers page</a> for available roles.</p>
        {% endif %}
      </div>
    </div>
  </div><!-- end section-container -->
</section>
{% endblock %}

{% block javascript %}
<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
{% endblock %}
