/*****************
COLOUR STYLES
*****************/

.light {
  .toggle-nav {
    .burger,
    .burger:before,
    .burger:after {
      background-color: $black;
    }
  }
}

.dark,
.page-footer {
  background-color: $black;

  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  cite,
  p,
  ol,
  ul,
  li,
  .stat-text {
    color: #fff;
  }

  p a {
    color: #fff;

    &:hover {
      color: $yellow;
    }
  }

  .carousel-progress {
    &:after {
      background-color: rgba(255,255,255, 0.4);
    }

    .carousel-progress-bar {
      background-color: #fff;
    }
  }
}

.text-white {
  color: #fff !important;
}
.text-black {
  color: $black !important;
}
.text-yellow {
  color: $yellow !important;
}