/*****************
COLOUR STYLES
*****************/

.light {
  .toggle-nav {
    .burger,
    .burger:before,
    .burger:after {
      background-color: $black;
    }
  }
}

.dark,
.page-footer {
  background-color: $black;

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  li {
    color: #fff;
  }

  p a {
    color: #fff;
  }
}