/*****************
MAIN LAYOUT STYLES
*****************/

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	font-size: 62.5%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	&.preloading {
		overflow: hidden;
	}

	&.active {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
}

/* Sticky footer */

main {
	flex: 1 0 auto;
	overflow: hidden;
}
.page-wrap {
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}
.page-footer {
	flex-shrink: 0;
	position: relative;

}

/* Containers */

section {
	position: relative;

}

.section-container {
	position: relative;
	margin: 0 auto;
	width: 85%;

	+ .section-container {
		padding-top: 0 !important;
	}

	@media #{$extra-large-up} {
		&.narrow {
			padding-left: 5%;
			padding-right: 5%;
		}

		&.x-narrow {
			padding-left: 8%;
			padding-right: 8%;
		}
	}

	&.max-width {
		max-width: 1224px;
		padding-left: 0;
		padding-right: 0;
	}

	&.max-width-wide {
		max-width: 1424px;
		padding-left: 0;
		padding-right: 0;
	}

	padding-top: 14rem;
	padding-bottom: 14rem;

	@media #{$x-extra-large} {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	@media #{$extra-large} {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	@media #{$tablet-ls} {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@media #{$bs-large} {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.post-block {
	.section-container {
		padding-top: 10rem;
		padding-bottom: 10rem;

		@media #{$tablet-ls} {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}

		@media #{$bs-large} {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}

	&:not(.full-width).light + .contained.light {
		.section-container {
			padding-top: 0;
		}
	}

	&:not(.full-width).dark + .contained.dark {
		.section-container {
			padding-top: 0;
		}
	}

	video {
		width: 100%;
	}
}

// Other elements

.spacer {
	height: $space-lg;

	@media #{$tablet-ls} {
		height: $space-md;
	}

	@media #{$tablet-pt} {
		height: $space-sm;
	}
}

.dt-hide {
	@media #{$tablet-ls-up} {
		display: none !important;
	}
}

.mob-hide {
	@media #{$tablet-ls} {
		display: none !important;
	}
}
