/*****************
NAVIGATION STYLES
*****************/

ul.nav {
  margin: 0 -1rem;

  .nav-item {
    margin: 0 1rem;
  }

  .nav-link {
    padding: 0;
  }
}

ul.social {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5rem;
  padding: 0;
  list-style: none;

  .nav-item {
    margin: 0 0.5rem;

    .nav-link {
      font-size: 24px;
      color: #fff;
      padding: 0;
      transition: 0.4s;

      &:hover {
        color: $yellow;
      }
    }
  }
}

ul.crumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  li {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;

    &:not(:last-of-type):after {
      content: '/';
      display: inline-block;
      padding: 0 5px;
    }

    a {
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: $yellow;
      }
    }
  }
}

// Global navigation 

.navigation-bar {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  &.fixed {
    position: fixed;
  }
  
  .section-container {
    padding-top: $space-sm;
  }
}

body.no-overlay,
body.black-no-overlay {
  header#global {
    .navigation-bar {
      position: relative;
    }
  }
}

nav#global {
  z-index: 98;
}

body.black,
body.no-overlay,
body.black-no-overlay {
  header#global:not(.active) {
    .toggle-nav {
      .burger {
        background-color: $black;

        &:before,
        &:after {
          background-color: $black;
        }
      }
    }

    .logo {
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
}

.toggle-nav {
  width: 32px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;

  .burger {
    display: block;
    position: relative;
    top: 0;
    width: 32px;
    height: 2px;
    background-color: #fff;

    @media #{$extra-small} {
      margin-left: 0;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 32px;
      height: 2px;
      transition: transform 0s, top 0.3s;
      background-color: #fff;
    }

    &:before {
      top: -12px;
    }

    &:after {
      top: 12px;    
    }
  }

  &:hover {
    .burger {
      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
  }

  &.active {
    .burger {
      background-color: transparent;

      &:before,
      &:after {
        top: 0;
        transition: top 0s, transform 0.3s, background-color 0.3s 0.3s;
      }

      &:before {
        transform: rotate(45deg)
      }

      &:after {
        transform: rotate(-45deg)
      }
    }

    &:hover {
      .burger {
        &:before,
        &:after {
          top: 0;
          transition: top 0s, transform 0.3s, background-color 0.3s 0.3s;
        }

        &:before {
          transform: rotate(35deg)
        }

        &:after {
          transform: rotate(-35deg)
        }
      }
    }
  }
}

nav#global {
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 100%;
  left: 0;
  overflow: scroll;
  transition: top 0.6s, bottom 0.6s;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
  }

  &:before {
    background-color: $yellow;
    transition: height 0.5s 0.3s ease-in-out;
  }

  &:after {
    background-color: $black;
    transition: height 0.5s 0s ease-in-out;
  }

  .nav-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
  }

  ul.nav {
    margin: 0;
    
    .nav-item {
      margin: 1.25rem 0;
      position: relative;
      opacity: 0;
    }

    .nav-link {
      color: rgba(255,255,255,0.4);
      font-family: $title-font;
      font-weight: 600;
      font-size: 48px;

      @media #{$phone-ls} {
        font-size: 30px;
        text-align: center;
      }

      line-height: 1;
      transition: 0.4s;

      &:hover {
       color: rgba(255,255,255,1);
      }

      &.active {
        color: $yellow;
        font-weight: 800;
      }
    }
  }

  &.active {
    z-index: 10;
    top: 0;
    bottom: 0;
    transition: top 0.3s, bottom 0.3s;

    &:before {
      height: 100%;
      transition: height 0.5s 0s ease-in-out;
    }

    &:after {
      height: 100%;
      transition: height 0.5s 0.3s ease-in-out;
    }
  }

  ul.nav.active {
    .nav-item {
      animation-name: animateIn;
      animation-duration: 350ms;
      animation-delay: calc(var(--animation-order) * 100ms);
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }
  }

  .info-wrap {
    position: relative;
    opacity: 0;

    &.active {
      animation-name: animateIn;
      animation-duration: 700ms;
      animation-delay: 300ms;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;

    a {
      color: #fff;

      &:hover {
        color: $yellow;
      }
    }
  }
}