/****************
TYPOGRAPHY STYLES
****************/

body {
  color: $black;
  font-family: $body-font;
}

.tw-regular {
  font-weight: 400;
}

.tw-medium {
  font-weight: 500;
}

.tw-semibold {
  font-weight: 600;
}

.tw-bold {
  font-weight: 700;
}

.tw-extrabold {
  font-weight: 800;
}

.tw-black {
  font-weight: 900;
}

.title-font {
  font-family: $title-font;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
    }
  }
}

h1 {
  font-weight: 600;
  font-size: 61px;

  @media #{$phone-ls} {
    font-size: 56px;
  }

  @media #{$extra-small} {
    font-size: 40px;
  }

  line-height: 1;

  .home & {
    font-size: 76px;

    @media #{$phone-ls} {
      font-size: 56px;
    }

    @media #{$extra-small} {
      font-size: 48px;
    }
  }

  strong {
    font-weight: 800;
  }
}

h2 {
  font-size: 61px;

  @media #{$phone-ls} {
    font-size: 56px;
  }

  @media #{$extra-small} {
    font-size: 38px;
  }

  font-weight: 600;
  line-height: 1.1;

  strong {
    font-weight: 800;
  }

  &.large {
    font-size: 76px;

    @media #{$phone-ls} {
      font-size: 60px;
    }

    @media #{$extra-small} {
      font-size: 39px;
    }

    font-weight: 400;
  }

  &.medium {
    font-size: 48px;

    @media #{$phone-ls} {
      font-size: 40px;
    }

    @media #{$extra-small} {
      font-size: 36px;
    }
  }

  &.small {
    font-size: 31px;

    @media #{$phone-ls} {
      font-size: 28px;
    }

    @media #{$extra-small} {
      font-size: 24px;
    }
  }
}

h3 {
  font-size: 31px;

  @media #{$phone-ls} {
    font-size: 28px;
  }

  @media #{$extra-small} {
    font-size: 24px;
  }

  font-weight: 500;

  &.small {
    font-size: 25px;
  }

  &.x-small {
    font-size: 20px;
  }

  strong {
    font-weight: 700;
  }
}

h4 {
  font-weight: 700;
  font-size: 25px;

  @media #{$phone-ls} {
    font-size: 23px;
  }

  @media #{$extra-small} {
    font-size: 19px;
  }

  strong {
    font-weight: 900;
  }
}

h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0.5rem;

  strong {
    font-weight: 900;
  }

  @media #{$phone-ls} {
    font-size: 18px;
  }

  @media #{$extra-small} {
    font-size: 16px;
  }
}

h6 {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 800;

  @media #{$phone-ls} {
    font-size: 15px;
  }

  @media #{$extra-small} {
    font-size: 14px;
  }
}

blockquote {
  margin: 3rem 0;
}

blockquote,
blockquote p {
  font-family: $title-font;
  font-size: 31px;
  font-weight: 500;
  line-height: 1.2;
}

cite {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  margin-top: 1rem;

  &:before {
    content: '- ';
  }
}

.super-lg {
  font-size: calc(40px + 8vw);
}

.stat-text {
  font-family: $title-font;
  font-size: 61px;
  font-weight: 700;
}

p,
ul,
ol {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;

  strong {
    font-weight: 700;
  }

  @media #{$tablet-ls} {
    font-size: 14px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol {
  list-style: none;
  padding-left: 0;

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

p {
  &.small,
  small {
    font-size: 14px;
    font-weight: 500;

    footer & {
      font-size: 12px;
    }
  }

  &.x-small {
    font-size: 12px;
  }

  &.title-font {
    font-family: $title-font;
  }

  a {
    color: $black;
    transition: 0.4s;

    &:hover {
      color: $yellow;
    }

  }
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  padding-left: 1rem;
}

ol {
  counter-reset: number-list-counter;
  list-style: none;
  margin-left: 0;

  li {
    counter-increment: number-list-counter;
    position: relative;
    padding-left: 25px;

    &:before {
      content: counter(number-list-counter) '.';
      font-weight: 600;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

ul:not(.nav):not(.crumbs) {
  li {
    margin-bottom: 1rem;
  }
}

ul.ticks {
  list-style: none;
  padding: 0;

  li {
    padding-left: 25px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
    }
  }
}

ul.inline-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 1rem;
      padding-right: 1rem;
    }
  }
}

.body-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    + { h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 3rem;
        }
    }
  }

  h2 {
    font-size: 48px;

    @media #{$extra-small} {
      font-size: 38px;
    }
  }

  p {
    a {
      text-decoration: underline;
    }
  }
}

::selection {
  background: $yellow;
}