/****************
TYPOGRAPHY STYLES
****************/

body {
  color: $black;
  font-family: $body-font;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
    }
  }
}

h1 {
  font-family: $title-font-semi;
  font-size: 61px;
  line-height: 1;

  .home & {
    font-size: 76px;
  }

  @media #{$tablet-ls} {

  }

  @media #{$tablet-pt} {

  }

  @media #{$small} {

  }

  @media #{$extra-small} {

  }
}

h2 {
  font-family: $title-font-semi;
  font-size: 61px;

  @media #{$tablet-ls} {
    
  }

  @media #{$tablet-pt} {
   
  }

  @media #{$phone-ls} {
    
  }

}

h3 {
  font-family: $title-font-medium;
  font-size: 31px;

  @media #{$tablet-ls} {

  }

  @media #{$tablet-pt} {
 
  }

}

h4 {
  font-family: $title-font-bold;
  font-size: 25px;

  @media #{$tablet-ls} {

  }

  @media #{$tablet-pt} {

  }
}

h5 {
  font-family: $title-font-bold;
  font-size: 20px;
}

h6 {

}

p,
ul,
ol {
  font-family: $body-font;
  font-size: 16px;

  strong {
    font-weight: 700;
  }

  @media #{$tablet-ls} {
    font-size: 14px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul:not(.nav):not(.crumbs),
ol {
  list-style: none;
  padding-left: 0;

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

p {
  &.small,
  small {
    font-size: 14px;
    font-weight: 500;

    footer & {
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      color: $yellow;
    }

  }
}

a {

  text-decoration: underline;
}

ol {
  counter-reset: number-list-counter;
  list-style: none;
  margin-left: 0;

  li {
    counter-increment: number-list-counter;
    position: relative;
    padding-left: 25px;

    &:before {
      content: counter(number-list-counter) '.';
      font-weight: 600;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

ul.ticks {
  list-style: none;

  li {
    padding-left: 25px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
    }
  }
}

ul.inline-list {
  display: flex;
  flex-wrap: wrap;

  li {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 1rem;
      padding-right: 1rem;
    }
  }
}

blockquote {
	position: relative;

  padding-left: 2rem;

  p {
    font-weight: 400;
  }

  cite {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
}

::selection {
  background: $yellow;
}