/* Heading weight */

:root .redactor-styles {
    h1,
    h2,
    h3,
    h4,
    h5 {
        .tw-regular {
            font-weight: 400;
        }
        .tw-medium {
            font-weight: 500;
        }
        .tw-semibold {
            font-weight: 600;
        }
        .tw-bold {
            font-weight: 700;
        }
        .tw-extrabold {
            font-weight: 800;
        }
        .tw-black {
            font-weight: 900;
        }
    }
}

:root .redactor-dropdown-item-regular span {
    font-weight: 400;
}
:root .redactor-dropdown-item-medium span {
    font-weight: 500;
}
:root .redactor-dropdown-item-semibold span {
    font-weight: 600;
}
:root .redactor-dropdown-item-bold span {
    font-weight: 700;
}
:root .redactor-dropdown-item-extrabold span {
    font-weight: 800;
}
:root .redactor-dropdown-item-black span {
    font-weight: 900;
}