// Variables
$black: #1A1A1A;
$grey: #707070;
$yellow: #FFCD00;

$title-font: 'Jeko', 'Poppins', Arial, Helvetica, sans-serif;
$body-font: 'Poppins', Arial, Helvetica, sans-serif;

/* Heading weight */

:root .redactor-styles {
    h1,
    h2,
    h3,
    h4,
    h5 {
        .tw-regular {
            font-weight: 400;
        }
        .tw-medium {
            font-weight: 500;
        }
        .tw-semibold {
            font-weight: 600;
        }
        .tw-bold {
            font-weight: 700;
        }
        .tw-extrabold {
            font-weight: 800;
        }
        .tw-black {
            font-weight: 900;
        }
    }
}

:root .redactor-dropdown-item-regular span {
    font-weight: 400;
}
:root .redactor-dropdown-item-medium span {
    font-weight: 500;
}
:root .redactor-dropdown-item-semibold span {
    font-weight: 600;
}
:root .redactor-dropdown-item-bold span {
    font-weight: 700;
}
:root .redactor-dropdown-item-extrabold span {
    font-weight: 800;
}
:root .redactor-dropdown-item-black span {
    font-weight: 900;
}

/* Buttons */

:root .redactor-styles a.btn {
    border-radius: 6px;
    border: none;
    font-family: $title-font;
    font-weight: 900;
    font-size: 16px;
    padding: .75rem 1.5rem;
    color: #fff;
    background-color: $black;
    transition: all 1s;

    .dark & {
        color: $black;
        background-color: #fff;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 200px $yellow;
    }
}

:root .redactor-styles a.btn-outline {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px $black;
    color: $black;

    &:hover {
        box-shadow: inset 0px 0px 0px 100px $black;
        color: #fff;
    }

    .dark & {
        box-shadow: inset 0px 0px 0px 2px #fff;
        color: #fff;

        &:hover {
            box-shadow: inset 0px 0px 0px 100px #fff;
            color: $black;
        }
    }
}