{# subject: Thank you for your submission #}
{# fromEmail: info@whitenoisestudios.com #}
{# fromName: Whitenoise Studios #}
{# replyToName: Whitenoise Studios #}
{# replyToEmail: info@whitenoisestudios.com #}
{# cc:  #}
{# bcc:  #}
{# includeAttachments: true #}
{# presetAssets:  #}
{# templateName: User Contact Notification #}
{# description: User/submitter form submission notification email template #}

{% extends "_layouts/_email-notifications" %}

{% block content %}

<div style="text-align: center;">
    <h1 style="margin-bottom: 0;">Thank you for your submission</h1>
    <p>We aim to get back to you promptly.</p>
</div>

<div style="text-align: center; margin-top: 2rem;">
    <h5>Your submisson details:</h5>
    <ul>
    {% for field in allFields %}
        <li style="margin-bottom: 1em;"><strong>{{ field.label }}:</strong><br> {{ field.valueAsString }}</li>
    {% endfor %}
</ul>
</div>


{% endblock %}






{# text #}
Thank you for your submission.
We aim to get back to you promptly.

Your submisson details:
{% for field in allFields %}
    - {{ field.label }}: {{ field.valueAsString }}
{% endfor %}








{# /text #}
