{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = '' %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
<section class="hero d-flex flex-column">
  <div class="section-container d-flex flex-grow-1 justify-content-center align-items-center text-center py-5">
    <h1>{{ entry.pageTitle ?? entry.title }}</h1>
  </div><!-- end section-container -->

  {% set heroImage = entry.heroImage.one() %}
  {% if heroImage %}
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ heroImage.url('thumb1920X1080') }}">
    <source media="(min-width: 960px)" srcset="{{ heroImage.url('thumb1280X720') }}">
    <source media="(min-width: 768px)" srcset="{{ heroImage.url('thumb960X540') }}">
    <source media="(min-width: 512px)" srcset="{{ heroImage.url('thumb768X432') }}">
    <source media="(min-width: 480px)" srcset="{{ heroImage.url('thumb512X288') }}">
    <source media="(min-width: 0px)" srcset="{{ heroImage.url('thumb480X480') }}">
    <img class="background-image{% if entry.greyscaleImage %} greyscale{% endif %}" src="{{ heroImage.url('thumb1920X1080') }}" alt="{{ heroImage.alt ?? heroImage.title ?? entry.title ?? null }}" loading="lazy">
  </picture> 
    {% endif %}
</section>

<section>
  {% if entry.textBlock or entry.whatWeOffer %}
  <div class="section-container max-width">
    <div class="row justify-content-between gy-3">
      {% if entry.textBlock %}
      <div class="col-tls-7">
        <div class="hidden-el-toggle hidden-mob">
          <h3 class="hidden-el-toggle-title tw-bold">About us</h3>
        </div><!-- end hidden-el-toggle -->

        <div class="hidden-el hidden-mob">
          {{ entry.textBlock }}

          <a class="btn btn-outline mt-2" href="{{ siteUrl }}contact">Get in touch</a>
        </div>    
      </div><!-- end col -->
      {% endif %}

      {% if entry.whatWeOffer %}
      <div class="col-tls-4 ps-tls-3">
        <div class="hidden-el-toggle hidden-mob">
          <h3 class="hidden-el-toggle-title tw-bold">What we offer</h3>
        </div><!-- end hidden-el-toggle -->

        <div class="hidden-el hidden-mob">
          <ul>
            {% for item in entry.whatWeOffer %}
              <li>{{ item.benefit }}</li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- end col -->
      {% endif %}
    </div><!-- end row -->
  </div><!-- end section-container -->
  {% endif %}

  {% set roles = craft.entries()
    .section('careersRoles')
    .closingDate('> now')
    .all() %}
  {% if roles %}
    <div class="section-container max-width">
      {% for role in roles %}
        <div class="shadow{% if not loop.last %} mb-2{% endif %}">
          <div class="hidden-el-toggle px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 py-2 py-md-3 py-lg-4">
            <h3 class="hidden-el-toggle-title tw-bold">{{ role.title }}</h3>
          </div><!-- end hidden-el-toggle -->

          <div class="hidden-el">
            {% if role.roleInformation %}
            <div class="px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 pb-2 pb-md-3 pb-lg-4">
              <div class="row gy-1 gy-sm-2">
                <div class="col-md-6">
                  {% for detail in role.roleInformation %}
                    {% if detail.position %}
                    <div class="row gy-msm-1 gy-sm-2 mb-1 mb-sm-2">
                      <div class="col-msm-6">
                        <p class="title-font tw-bold">Position:</p>
                      </div><!-- end col -->
                      <div class="col-msm-6">
                        <p class="title-font">{{ detail.position }}</p>
                      </div><!-- end col -->
                    </div><!-- end row -->
                    {% endif %}

                    {% if detail.location %}
                    <div class="row gy-msm-1 gy-sm-2 mb-1 mb-sm-2">
                      <div class="col-msm-6">
                        <p class="title-font tw-bold">Location:</p>
                      </div><!-- end col -->
                      <div class="col-msm-6">
                        <p class="title-font">{{ detail.location }}</p>
                      </div><!-- end col -->
                    </div><!-- end row -->
                    {% endif %}

                    {% if detail.salary %}
                    <div class="row gy-msm-1 gy-sm-2">
                      <div class="col-msm-6">
                        <p class="title-font tw-bold">Salary:</p>
                      </div><!-- end col -->
                      <div class="col-msm-6">
                        <p class="title-font">{{ detail.salary }}</p>
                      </div><!-- end col -->
                    </div><!-- end row -->
                    {% endif %}
                  {% endfor %}
                </div><!-- end col -->

                <div class="col-md-6">
                  {% for detail in role.roleInformation %}
                    {% if detail.employmentType %}
                    <div class="row gy-msm-1 gy-sm-2 mb-1 mb-sm-2">
                      <div class="col-msm-6">
                        <p class="title-font tw-bold">Employment:</p>
                      </div><!-- end col -->
                      <div class="col-msm-6">
                        <p class="title-font">{{ detail.employmentType }}, {{ detail.employmentHours }} </p>
                      </div><!-- end col -->
                    </div> <!-- end row -->
                    {% endif %}
                  {% endfor %}

                  <div class="row gy-msm-1 gy-sm-2 mb-1 mb-sm-2">
                    <div class="col-msm-6">
                      <p class="title-font tw-bold">Date posted:</p>
                    </div><!-- end col -->

                    <div class="col-msm-6">
                      <p class="title-font">{{ role.dateCreated|date("d/m/y") }}</p>
                    </div>  <!-- end col -->
                  </div><!-- end row -->
                  
                  <div class="row gy-msm-1 gy-sm-2">
                    <div class="col-msm-6">
                      <p class="title-font tw-bold">Closing date:</p>
                    </div><!-- end col -->
                    
                    <div class="col-msm-6">
                      <p class="title-font">{{ role.closingDate|datetime("d/m/y, g:ia") }}</p>
                    </div><!-- end col -->
                  </div><!-- end row -->
                </div><!-- end col -->
              </div><!-- end row -->
            </div>
            {% endif %}

            {% set careerContentBlocks = role.careerContentBlocks.all() %}
            {% if role.careerContentBlocks %}
            
            <!-- {{ careerContentBlocks | length }} -->
            {% for block in careerContentBlocks %}
              {% if block.type == 'textBlock' %}
                <div class="px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 py-2 py-md-3 py-lg-5 border-top border-2 border-dark">
                  {{ block.text | replace({'&nbsp;' : ''})|raw }}
                </div>

              {% elseif block.type == 'statement' %}
                <div class="px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 py-2 py-md-3 py-lg-5 border-top border-2 border-dark">
                  <h2 class="large">{{ block.statementText }}</h2>
                  {% if block.statementCaption %}
                  <cite>{{ block.statementCaption }}</cite>
                  {% endif %}
                </div>

              {% elseif block.type == 'statistics' %}
                <div class="px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 py-2 py-md-3 py-lg-5 border-top border-2 border-dark">
                  <div class="d-flex flex-wrap justify-content-center align-items-start">
                  {% for row in block.statistic %}
                    <div class="px-3 my-2 text-center">
                      <span class="stat-text">{{ row.statisticFact }}</span>
                      {% if row.statisticCaption %}
                      <p class="tw-medium">{{ row.statisticCaption }}</p>
                      {% endif %}
                    </div>
                  {% endfor %}
                  </div>
                </div>

              {% elseif block.type == 'imageBlock' %}
                <div>
                  {% set images = block.images.all() %}
                  {% if images|length == '1' %}
                    {% for image in images %}
                    <img 
                      loading="lazy" 
                      src="{{ image.url('thumb1920X1080') }}" 
                      alt="{{ image.alt ?? image.title ?? null }}" 
                      sizes="100vw" 
                      srcset="
                        {{ image.url('thumb480X270') }} 480w,
                        {{ image.url('thumb512X288') }} 512w,
                        {{ image.url('thumb768X432') }} 768w,
                        {{ image.url('thumb960X540') }} 960w,
                        {{ image.url('thumb1280X720') }} 1280w,
                        {{ image.url('thumb1920X1080') }} 1920w
                      ">
                    {% endfor %}
                  {% else %}
                    <div class="image-slider splide" aria-label="Image slider">
                      <div class="splide__track">
                        <ul class="splide__list">
                          {% for image in images %}
                          <li class="splide__slide">
                            <img 
                              loading="lazy" 
                              src="{{ image.url('thumb1920X1080') }}" 
                              alt="{{ image.alt ?? image.title ?? null }}" 
                              sizes="100vw" 
                              srcset="
                                {{ image.url('thumb480X270') }} 480w,
                                {{ image.url('thumb512X288') }} 512w,
                                {{ image.url('thumb768X432') }} 768w,
                                {{ image.url('thumb960X540') }} 960w,
                                {{ image.url('thumb1280X720') }} 1280w,
                                {{ image.url('thumb1920X1080') }} 1920w
                              ">
                          </li>
                          {% endfor %}
                        </ul>
                      </div><!-- end splide__track -->
                    </div><!-- end splide -->
                    {% endif %}
                </div>

              {% elseif block.type == 'videoUpload' %}
                <div>
                  {% set videoFile = block.videoFile.one() %}
                  {% if videoFile %}
                  <div class="video-player">
                    <video class="video-js" data-setup='{"controls": true, "autoplay": false, "preload": "none", "fluid": "true"}'>
                      <source src="{{ videoFile.url }}" type="video/mp4">

                      <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                          >supports HTML5 video</a
                        >
                      </p>
                    </video>
                  </div><!-- end video-player -->
                  {% endif %}
                </div>

              {% elseif block.type == 'videoEmbed' %}
                <div>
                  {{ block.embedCode|raw }}
                </div>
              {% endif %}
            {% endfor %}

            <div class="px-2 px-sm-4 px-md-6 px-lg-8 px-xl-10 py-2 py-md-3 py-lg-5">
              {% if role.closingDate > now %}
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                  <a class="my-1 btn btn-outline" href="{{ siteUrl }}careers/{{ role.slug }}/application">Apply now</a>

                  <!-- <span class="m-0 hidden-el-close">Close</span> -->
                </div>
              
              {% else %}
              <p><strong>This role has now closed.</strong> Keep an eye on our <a href="{{ siteUrl }}careers">careers page</a> for available roles.</p>
              {% endif %}
            </div>
          {% endif %}
          </div><!-- end hidden-el -->
        </div>
        
      {% endfor %}
    </div><!-- end section-container -->
  {% else %}
  <div class="section-container max-width">
    <div class="shadow p-4">
      <p class="text-center">We have no roles available at present, but check back soon for updates.</p>
    </div>
  </div>
  {% endif %}

  {% if entry.equalOpportunities %}
  <div class="section-container max-width">
    <p><strong>Equal Opportunities Employer</strong></p>
    {{ entry.equalOpportunities }}
  </div><!-- end section-container -->
  {% endif %}
</section>
{% endblock %}

{% block javascript %}
{% endblock %}
