{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = '' %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
<section class="hero d-flex flex-column">
  <div class="section-container d-flex flex-grow-1 justify-content-center align-items-center text-center py-5">
    <h1>{{ entry.pageTitle ?? entry.title }}</h1>
  </div><!-- end section-container -->

  {% set heroImage = entry.heroImage.one() %}
  {% if heroImage %}
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ heroImage.url('thumb1920X1080') }}">
    <source media="(min-width: 960px)" srcset="{{ heroImage.url('thumb1280X720') }}">
    <source media="(min-width: 768px)" srcset="{{ heroImage.url('thumb960X540') }}">
    <source media="(min-width: 512px)" srcset="{{ heroImage.url('thumb768X432') }}">
    <source media="(min-width: 480px)" srcset="{{ heroImage.url('thumb512X288') }}">
    <source media="(min-width: 0px)" srcset="{{ heroImage.url('thumb480X480') }}">
    <img class="background-image{% if entry.greyscaleImage %} greyscale{% endif %}" src="{{ heroImage.url('thumb1920X1080') }}" alt="{{ heroImage.alt ?? heroImage.title ?? entry.title ?? null }}" loading="lazy">
  </picture> 
    {% endif %}
</section>

{% set locations = siteInfo.locations.all() %}
{% if locations %}
<section>
  <div class="section-container max-width">
    <div class="row gy-4 justify-content-between">
      {% for location in locations %}
      {% set thumbnail = location.thumbnail.one() %}
      <div class="col-tls-6 d-flex flex-column">
        <div class="shadow d-flex flex-column greyscale-hover-off flex-grow-1">
          {% if thumbnail %}
          <img class="greyscale" src="{{ thumbnail.url('thumb512X288') }}" alt="{{ location.alt ?? location.title ?? location.locationName ?? null }}">
          {% endif %}

          <div class="p-2 p-md-3">
            <h2 class="small tw-bold">{{ location.locationName }}</h2>
            <p>{{ location.address|nl2br}}</p>

            {% if location.googleMapsLink %}
              <p><a class="tw-semibold" href="{{ location.googleMapsLink }}" target="_blank">Get directions</a></p>
            {% endif %}

            <hr>

            <p>
            {% if location.telephoneNumber %}
              {{ location.telephoneNumber }}<br>
            {% elseif siteInfo.phoneNumber %}
              {{ siteInfo.phoneNumber }}<br>
            {% endif %}

            {% if location.emailAddress %}
              <a class="tw-semibold" href="mailto:{{ location.emailAddress }}">{{ location.emailAddress }}</a><br>
            {% elseif siteInfo.emailAddress %}
              <a class="tw-semibold" href="mailto:{{ siteInfo.emailAddress }}">{{ siteInfo.emailAddress }}</a><br>
            {% endif %}
            
              <a class="tw-semibold" href="https://whitenoisestudios.com">whitenoisestudios.com</a>
            </p>
          </div>
        </div>
      </div><!-- end col -->
      {% endfor %}
    </div><!-- end row -->
  </div><!-- end section-container -->

  <div class="section-container max-width">
    <div class="mob-shadow-none shadow p-4">
      <h2 class="medium text-center mb-4">Get in touch</h2>
      {{ craft.freeform.form("generalContact").render() }}
    </div>
  </div>
</section>
{% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
