{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = 'home' %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
<section class="hero">
  <div class="section-container d-flex align-items-end">
    <div class="row gy-7 justify-content-between align-items-end w-100">
      <div class="col-lg-10 col-xl-8 col-xxl-6">
        <h1 class="mb-3">World-enhancing work that matters.</h1>

        <a class="btn btn-white me-1" href="">Start project</a>
        <a class="btn btn-white btn-outline" href="">Play showreel</a>
      </div><!-- end col -->

      <div class="col-lg-2 text-lg-end">
        <div class="scroll-prompt">
          <div class="scroller"></div>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end section-container -->

  <video class="background-video" autoplay loop muted poster="">
    <source src="https://whitenoisestudios.com/assets/videos/Very-Small-New-Website-Video-2018.mp4" type="video/mp4">
    <source src="https://whitenoisestudios.com/assets/videos/Very-Small-New-Website-Video-2018.webm" type="video/webm">
  </video>
</section>

<section>
  <div class="section-container x-narrow py-5 py-lg-10 py-xl-12 py-xxl-14">
    <div class="row justify-content-between">
      <div class="col-tls-7">
        <h2>We are a multi award winning agency delivering across all platforms.</h2>
      </div><!-- end col -->

      <div class="col-tls-4 ps-tls-3">
        <p><strong>We create stories that sell brands, businesses and ideas. Always on, everywhere.</strong></p>
        <p>We're not just selling, we're telling your story. We are carrying your signal and amplifying your message. We are Whitenoise.</p>

        <a class="btn-link mt-3" href="">Learn more</a>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end section-container -->
</section>

<section>
  <!-- FEATURED PROJECT -->
  <div class="work-item">
    <a href="">
      <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
        <div>
          <h3 class="thumb-title small tw-black text-white mb-0">BBC</h3>
          <p class="thumb-subtitle text-white tw-medium">Tangible outputs and outcomes supporting your business across all media and platforms.</p>
        </div>   
      </div><!-- end text-container -->
      
      <div class="thumb-container">
        <iframe title="" src="https://player.vimeo.com/video/794623311?background=true" allow="autoplay; fullscreen" allowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>

        <img src="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg" loading="lazy" alt="" sizes="100vw" srcset="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-500.jpg 500w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-800.jpg 800w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1080.jpg 1080w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1600.jpg 1600w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-2000.jpg 2000w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg 2560w">
      </div><!-- end thumb-container -->
    </a>
  </div><!-- end work-item -->

  <!-- REMAINING PROJECTS - max 4, determine col size by number -->
  <div class="row g-0">
    <div class="col-lg-6">
      <div class="work-item">
        <a href="">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">Moy Park</h3>
              <p class="thumb-subtitle text-white tw-medium">Tangible outputs and outcomes supporting your business across all media and platforms.</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            <img src="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg" loading="lazy" alt="" sizes="100vw" srcset="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-500.jpg 500w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-800.jpg 800w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1080.jpg 1080w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1600.jpg 1600w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-2000.jpg 2000w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg 2560w">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->

    <div class="col-lg-6">
      <div class="work-item">
        <a href="">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">Q Radio</h3>
              <p class="thumb-subtitle text-white tw-medium">Tangible outputs and outcomes supporting your business across all media and platforms.</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            <iframe title="" src="https://player.vimeo.com/video/529419193?background=true" allow="autoplay; fullscreen" allowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>

            <img src="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg" loading="lazy" alt="" sizes="100vw" srcset="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-500.jpg 500w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-800.jpg 800w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1080.jpg 1080w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1600.jpg 1600w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-2000.jpg 2000w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg 2560w">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->

    <div class="col-lg-6">
      <div class="work-item">
        <a href="">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">Ulster University</h3>
              <p class="thumb-subtitle text-white tw-medium">Tangible outputs and outcomes supporting your business across all media and platforms.</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            <iframe title="" src="https://player.vimeo.com/video/794623311?background=true" allow="autoplay; fullscreen" allowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>

            <img src="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg" loading="lazy" alt="" sizes="100vw" srcset="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-500.jpg 500w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-800.jpg 800w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1080.jpg 1080w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1600.jpg 1600w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-2000.jpg 2000w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg 2560w">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->

    <div class="col-lg-6">
      <div class="work-item">
        <a href="">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">Kainos</h3>
              <p class="thumb-subtitle text-white tw-medium">Tangible outputs and outcomes supporting your business across all media and platforms.</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            <video preload="false" autoplay loop muted poster="">
              <source src="https://whitenoisestudios.com/assets/videos/Very-Small-New-Website-Video-2018.mp4" type="video/mp4">
              <source src="https://whitenoisestudios.com/assets/videos/Very-Small-New-Website-Video-2018.webm" type="video/webm">
            </video>

            <img src="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg" loading="lazy" alt="" sizes="100vw" srcset="https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-500.jpg 500w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-800.jpg 800w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1080.jpg 1080w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-1600.jpg 1600w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001-p-2000.jpg 2000w, https://assets.website-files.com/63482e441823ca7ee0b4fbba/640f469a334b4e7788852167_DixonBaxi_PC_001.jpg 2560w">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->
  </div><!-- end row -->
</section>

<section class="py-7 py-lg-10 py-xl-12 py-xxl-14">
  <div class="section-container x-narrow py-0">
    <h4 class="text-center mb-7">We are proud to work with</h4>
  </div><!-- end section-container -->

  <div class="splide splide-rtl mb-4" aria-label="Partner logos slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/translink-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/rnib-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/uu-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/moy-park-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/kainos-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/ulster-orchestra-logo.svg" alt=""></li>
      </ul>
    </div>
  </div><!-- end splide -->

  <div class="splide splide-ltr" aria-label="Partner logos slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/translink-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/rnib-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/uu-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/moy-park-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/kainos-logo.svg" alt=""></li>
        <li class="splide__slide px-2"><img src="{{ siteUrl }}assets/images/ulster-orchestra-logo.svg" alt=""></li>
      </ul>
    </div>
  </div><!-- end splide -->
</section>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $('.work-item').each(function(){
      var subtitle = $(this).find('.thumb-subtitle');
      subtitleHeight = subtitle.outerHeight() + 'px';
      subtitle.css('margin-bottom', '-' + subtitleHeight);
    });
  });
</script>

<script src="{{ siteUrl }}assets/js/splide.min.js"></script>
<script src="{{ siteUrl }}assets/js/splide-extension-auto-scroll.min.js"></script>
<script>
  new Splide('.splide-rtl', {
    type   : 'loop',
    perPage: 5,
    breakpoints: {
      991: {
        perPage: 4,
      },
      480: {
        perPage: 2,
      },
    },
    arrows: false,
    pagination: false,
  }).mount( window.splide.Extensions );

  new Splide('.splide-ltr', {
    type   : 'loop',
    perPage: 5,
    breakpoints: {
      991: {
        perPage: 4,
      },
      480: {
        perPage: 2,
      },
    },
    arrows: false,
    pagination: false,
    autoScroll: {
      speed: -1,
    },
  }).mount( window.splide.Extensions );
</script>
{% endblock %}
