{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = 'home' %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
{% set heroImage = entry.heroImage.one() %}
{% set heroVideoClip = entry.heroVideoClip.one() %}
{% set heroVideoFullLength = entry.heroVideoFullLength.one() %}
<section class="hero">
  <div class="section-container d-flex align-items-end py-5 py-lg-10 py-xl-12">
    <div class="row gy-7 justify-content-between align-items-end w-100">
      <div class="col-lg-10 col-xl-8 col-xxl-6">
        <h1 class="mb-3">{{ entry.pageTitle }}</h1>

        <a class="btn btn-white me-1" href="">Start project</a>

        {% if heroVideoFullLength %}
        <button id="play-video" class="btn btn-white btn-outline" type="button" data-bs-toggle="modal" data-bs-target="#video-modal">Play showreel</button>
        {% endif %}
      </div><!-- end col -->

      <div class="col-lg-2 text-lg-end">
        <div class="scroll-prompt">
          <div class="scroller"></div>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end section-container -->

  {% if heroImage|length and not heroVideoClip|length %}
  <img 
  class="background-image{% if entry.greyscaleImage %} greyscale{% endif %}" 
  loading="lazy" 
  src="{{ heroImage.url('thumb1920X1080') }}" 
  alt="{{ heroImage.title }}" 
  sizes="100vw" 
  srcset="
    {{ heroImage.url('thumb480X270') }} 480w,
    {{ heroImage.url('thumb512X288') }} 512w,
    {{ heroImage.url('thumb768X432') }} 768w,
    {{ heroImage.url('thumb960X540') }} 960w,
    {{ heroImage.url('thumb1280X720') }} 1280w,
    {{ heroImage.url('thumb1920X1080') }} 1920w
    ">
  {% endif %}

  
  {% if heroVideoClip %}
  <video class="background-video" autoplay loop muted poster="{{ heroImage.url }}">
    <source src="{{ heroVideoClip.url }}" type="video/mp4">
    {% if heroVideoClip.webmFile %}
    <source src="{{ heroVideoClip.webmFile }}" type="video/webm">
    {% endif %}
  </video>
  {% endif %} 
</section>

{# if heroVideoFullLength #}
<div class="modal fade" id="video-modal" tabindex="-1" aria-labelledby="Video modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
    <div class="modal-content">
      <video id="full-video" controls>
        <source src="{{ heroVideoFullLength.url }}" type="video/mp4">
        {% if heroVideoFullLength.webmFile %}
        <source src="{{ heroVideoFullLength.webmFile }}" type="video/webm">
        {% endif %}
      </video>
    </div>
  </div>
</div><!-- end modal -->
{# endif #}

{% if entry.introTextLeftColumn or entry.introTextRightColumn %}
<section>
  <div class="section-container max-width-wide">
    <div class="row justify-content-between">
      {% if entry.introTextLeftColumn %}
      <div class="col-tls-7">
        {{ entry.introTextLeftColumn }}
      </div><!-- end col -->
      {% endif %}

      {% if entry.introTextRightColumn %}
      <div class="col-tls-4 ps-tls-3">
        {{ entry.introTextRightColumn }}
      </div><!-- end col -->
      {% endif %}
    </div><!-- end row -->
  </div><!-- end section-container -->
</section>
{% endif %}

{% set projects = entry.selectedProjects.all() %}
{% if projects %}
<section>
  <div class="row g-0">
    {% for project in projects %}
    {% if loop.first %}
    <!-- FEATURED PROJECT -->
    <div class="col-12">
      <div class="work-item">
        <a href="{{ project.url }}">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">{{ project.title }}</h3>
              <p class="thumb-subtitle text-white tw-medium">{{ project.subtitle }}</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            {% set videoThumbnailUpload = project.videoThumbnailUpload.one() %}
            {% set imageThumbnail = project.imageThumbnail.one() %}

            {% if videoThumbnailUpload %}
              <video preload="false" autoplay loop muted poster="{{ imageThumbnail.url('thumb1280X720') }}">
                <source src="{{ videoThumbnailUpload.url }}" type="video/mp4">
              </video>
            {% endif %}
            
            <img 
              loading="lazy" 
              src="{{ imageThumbnail.url('thumb1920X1080') }}" 
              alt="{{ project.title }}" 
              sizes="100vw" 
              srcset="
                {{ imageThumbnail.url('thumb480X270') }} 480w,
                {{ imageThumbnail.url('thumb512X288') }} 512w,
                {{ imageThumbnail.url('thumb768X432') }} 768w,
                {{ imageThumbnail.url('thumb960X540') }} 960w,
                {{ imageThumbnail.url('thumb1280X720') }} 1280w,
                {{ imageThumbnail.url('thumb1920X1080') }} 1920w
                ">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->
    {% else %}
    
    <!-- REMAINING PROJECTS - max 4, determine col size by number -->
    <div class="{% if loop.length == 5 or loop.length == 3 %}col-xl-6{% else %}col-xl-4{% endif %}">
      <div class="work-item">
        <a href="{{ project.url }}">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">{{ project.title }}</h3>
              <p class="thumb-subtitle text-white tw-medium">{{ project.subtitle }}</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            {% set videoThumbnailUpload = project.videoThumbnailUpload.one() %}
            {% set imageThumbnail = project.imageThumbnail.one() %}

            {% if videoThumbnailUpload %}
              <video preload="false" autoplay loop muted poster="{{ imageThumbnail.url('thumb1280X720') }}">
                <source src="{{ videoThumbnailUpload.url }}" type="video/mp4">
              </video>
            {% endif %}
            
            <img 
              loading="lazy" 
              src="{{ imageThumbnail.url('thumb1920X1080') }}" 
              alt="{{ project.title }}" 
              sizes="100vw" 
              srcset="
                {{ imageThumbnail.url('thumb480X270') }} 480w,
                {{ imageThumbnail.url('thumb512X288') }} 512w,
                {{ imageThumbnail.url('thumb768X432') }} 768w,
                {{ imageThumbnail.url('thumb960X540') }} 960w,
                {{ imageThumbnail.url('thumb1280X720') }} 1280w,
                {{ imageThumbnail.url('thumb1920X1080') }} 1920w
                ">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->
    {% endif %}
    {% endfor %}
  </div><!-- end row -->
</section>
{% endif %}

{% set clientLogos = entry.clientLogos.all() %}
{% if clientLogos %}
<section class="py-7 py-lg-10 py-xl-12 py-xxl-14">
  <div class="section-container x-narrow p-0">
    <h4 class="text-center mb-7">We are proud to work with</h4>
  </div><!-- end section-container -->

  {% if clientLogos|length > 9 %}
    {% set firstHalfEnd = clientLogos|length / 2 %}
    {% set secondHalfStart = firstHalfEnd %}
    {% set last = clientLogos|length %}
    <div class="splide splide-rtl pb-4" aria-label="Partner logos slider">
      <div class="splide__track">
        <ul class="splide__list">
          {% for logo in clientLogos|slice(0, firstHalfEnd) %}
          <li class="splide__slide px-2">
            {% if logo.assetLink %}
            <a href="{{ logo.assetLink }}" target="_blank">
              <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            </a>
            {% else %}
            <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- end splide -->
    
    <div class="splide splide-ltr pt-4" aria-label="Partner logos slider">
      <div class="splide__track">
        <ul class="splide__list">
          {% for logo in clientLogos|slice(secondHalfStart, last) %}
          <li class="splide__slide px-2">
            {% if logo.assetLink %}
            <a href="{{ logo.assetLink }}" target="_blank">
              <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            </a>
            {% else %}
            <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- end splide -->
  {% else %}
    <div class="splide splide-ltr" aria-label="Partner logos slider">
      <div class="splide__track">
        <ul class="splide__list">
          {% for logo in clientLogos %}
          <li class="splide__slide px-2">
            {% if logo.assetLink %}
            <a href="{{ logo.assetLink }}" target="_blank">
              <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            </a>
            {% else %}
            <img src="{{ logo.url('logoMaxWidthAndHeight') }}" alt="{{ logo.title }}">
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- end splide -->
  {% endif %}
</section>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $('.work-item').each(function(){
      var subtitle = $(this).find('.thumb-subtitle');
      subtitleHeight = subtitle.outerHeight() + 'px';
      subtitle.css('margin-bottom', '-' + subtitleHeight);
    });
  });
</script>

<script src="{{ siteUrl }}assets/js/splide-extension-auto-scroll.min.js"></script>
<script>
if($('.splide-rtl').length > 0) {
  new Splide('.splide-rtl', {
    type   : 'loop',
    perPage: 5,
    breakpoints: {
      991: {
        perPage: 4,
      },
      480: {
        perPage: 2,
      },
    },
    arrows: false,
    pagination: false,
  }).mount( window.splide.Extensions );
}

if($('.splide-ltr').length > 0) {
  new Splide('.splide-ltr', {
    type   : 'loop',
    perPage: 5,
    breakpoints: {
      991: {
        perPage: 4,
      },
      480: {
        perPage: 2,
      },
    },
    arrows: false,
    pagination: false,
    autoScroll: {
      speed: -1,
    },
  }).mount( window.splide.Extensions );
}
</script>
{% endblock %}
