{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set bodyClass = 'black-no-overlay' %}

{% block headContent %}

{% endblock %}

{% block main %}
<section>
  <div class="section-container max-width py-5">
    <h1>{{ entry.pageTitle ?? entry.title }}</h1>
  </div><!-- end section-container -->

  <div class="section-container max-width py-5">
    {% set articles = craft.entries().section('newsroomArticles').limit(6) %}

    {{ sprig('_components/search') }}
  </div><!-- end section-container -->
</section>
{% endblock %}

{% block javascript %}
 {{ sprig.script }}
{% endblock %}
