{% extends "_layouts/_base" %}

{% block seo %}
{% include "_includes/seo" %}
{% endblock %}

{% set headerColour = entry.headerColour %}
{% set bodyClass = headerColour %}

{% block headContent %}
<link href="{{ siteUrl }}assets/css/splide-core.min.css" rel="stylesheet"/>
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}

{% block main %}
{% set heroImage = entry.heroImage.one() ?? entry.imageThumbnail.one() %}
<section>
  <img 
    class="background-image{% if entry.greyscaleImage %} greyscale{% endif %}"
    src="{{ heroImage.url('thumb1920X1080') }}" 
    loading="lazy" 
    alt="{{ entry.title }}" 
    sizes="100vw" 
    srcset="
      {{ heroImage.url('thumb480X270') }} 480w,
      {{ heroImage.url('thumb512X288') }} 512w,
      {{ heroImage.url('thumb768X432') }} 768w,
      {{ heroImage.url('thumb960X540') }} 960w,
      {{ heroImage.url('thumb1280X720') }} 1280w,
      {{ heroImage.url('thumb1920X1080') }} 1920w
      ">
</section>

<section>
  <div class="section-container max-width py-5 d-flex justify-content-between flex-wrap">
    <a class="back-link" href="{{ siteUrl }}work">Back</a>

    <ul class="crumbs">
      <li><a href="{{ siteUrl }}work">Work</a></li>
      <li>{{ entry.title }}</li>
    </ul>
  </div><!-- end section-container -->

  <section class="post-block light">
    <div class="section-container py-lg-10 max-width">
      <h1>{{ entry.title }}</h1>
      
      <div class="row">
        <div class="col-lg-10 col-xl-8">
          <h3 class="tw-medium">{{ entry.subtitle }}</h3>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end section-container -->
  </section>

  {% include "_includes/content_blocks" %}
</section>

<section>
  <div class="row g-0">
  {% set suggestedEntries = entry.suggestedProjects.all() %}
  {% if suggestedEntries %}
    {% for project in suggestedEntries %}
    <div class="col-pls-6">
      <div class="work-item">
        <a href="{{ project.url }}">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">{{ project.title }}</h3>
              <p class="thumb-subtitle text-white tw-medium">{{ project.subtitle }}</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            {% set videoThumbnailUpload = project.videoThumbnailUpload.one() %}
            {% set imageThumbnail = project.imageThumbnail.one() %}

            {% if videoThumbnailUpload %}
              <video preload="false" autoplay loop muted poster="{{ imageThumbnail.url('thumb1280X720') }}">
                <source src="{{ videoThumbnailUpload.url }}" type="video/mp4">
              </video>
            {% endif %}
            
            <img 
              src="{{ imageThumbnail.url('thumb1920X1080') }}" 
              loading="lazy" 
              alt="{{ project.title }}" 
              sizes="100vw" 
              srcset="
                {{ imageThumbnail.url('thumb480X270') }} 480w,
                {{ imageThumbnail.url('thumb512X288') }} 512w,
                {{ imageThumbnail.url('thumb768X432') }} 768w,
                {{ imageThumbnail.url('thumb960X540') }} 960w,
                {{ imageThumbnail.url('thumb1280X720') }} 1280w,
                {{ imageThumbnail.url('thumb1920X1080') }} 1920w
                ">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->
    {% endfor %}
  {% else %}  
    {% set randomEntries = craft.entries()
      .section('projects')
      .orderBy('RAND()')
      .limit(2)
      .id('not ' ~ entry.id)
    %}
    {% for project in randomEntries %}
    <div class="col-pls-6">
      <div class="work-item">
        <a href="{{ project.url }}">
          <div class="text-container p-2 p-sm-3 px-lg-4 py-lg-3 p-xl-5 d-flex justify-content-start align-items-end">
            <div>
              <h3 class="thumb-title small tw-black text-white mb-0">{{ project.title }}</h3>
              <p class="thumb-subtitle text-white tw-medium">{{ project.subtitle }}</p>
            </div>   
          </div><!-- end text-container -->
          
          <div class="thumb-container">
            {% set videoThumbnailUpload = project.videoThumbnailUpload.one() %}
            {% set imageThumbnail = project.imageThumbnail.one() %}

            {% if videoThumbnailUpload %}
              <video preload="false" autoplay loop muted poster="{{ imageThumbnail.url('thumb1280X720') }}">
                <source src="{{ videoThumbnailUpload.url }}" type="video/mp4">
              </video>
            {% endif %}
            
            <img 
              src="{{ imageThumbnail.url('thumb1920X1080') }}" 
              loading="lazy" 
              alt="{{ project.title }}" 
              sizes="100vw" 
              srcset="
                {{ imageThumbnail.url('thumb480X270') }} 480w,
                {{ imageThumbnail.url('thumb512X288') }} 512w,
                {{ imageThumbnail.url('thumb768X432') }} 768w,
                {{ imageThumbnail.url('thumb960X540') }} 960w,
                {{ imageThumbnail.url('thumb1280X720') }} 1280w,
                {{ imageThumbnail.url('thumb1920X1080') }} 1920w
                ">
          </div><!-- end thumb-container -->
        </a>
      </div><!-- end work-item -->
    </div><!-- end col -->
    {% endfor %}
  {% endif %}
  </div><!-- end row -->
</section>
{% endblock %}

{% block javascript %}

<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<script>
$(document).ready(function() {
  $('.work-item').each(function(){
    var subtitle = $(this).find('.thumb-subtitle');
    subtitleHeight = subtitle.outerHeight() + 'px';
    subtitle.css('margin-bottom', '-' + subtitleHeight);
  });
});
</script>
{% endblock %}
